<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../web/css/css/xboxgamepass.css">
  <title>Xbox GamePass | GameNation</title>
</head>
<body>

  <header>
  <header>
    <a href="../index.php">
      <img src="../logo_sin_fondo.png" alt="logo" width="500px">
    </a>
  </header>
<nav>
    <ul class="menu">
      <li class="menu-item playstation">
        <a href="#ps">Play Station</a>
        <div class="submenu ps">
          <div class="submenu-row">
            <a href="ps5.html">PS5</a>
            <a href="ps4.html">PS4</a>
            <a href="ps3.html">PS3</a>
          </div>
        </div>
      </li>

      <li class="menu-item xbox">
        <a href="#xbox">XBox</a>
        <div class="submenu xbox">
          <div class="submenu-row">
            <a href="xbox.html">Series X/S</a>
            <a href="gamepass.html">Game Pass</a>
          </div>
        </div>
      </li>

      <li class="menu-item nintendo">
        <a href="#nintendo">Nintendo</a>
        <div class="submenu nintendo">
          <div class="submenu-row">
            <a href="switch.html">Switch</a>
            <a href="switch_dos.html">Switch 2</a>
          </div>
        </div>
      </li>

      <li class="menu-item steam">
        <a href="#steam">Steam</a>
        <div class="submenu steam">
          <div class="submenu-row">
            <a href="steam_juegos.html">Juegos</a>
            <a href="steam_ofertas.html">Ofertas</a>
          </div>
        </div>
      </li>
      <li class="menu-item steam">
        <a href="../favoritos.php" class="nav-favorites">
    ⭐ FAVORITS
</a>
        <div class="submenu favorite">
          <div class="submenu-row">
      
        </div>
        </div>
      </li>
    </ul>
  </nav>


  <section id="xbox">
    <h2>Xbox - Game Pass</h2>
    <div class="novedades_juegos">
      <!-- Game Pass exclusive titles, different from Series X -->
      <article id="xbox">
        <a href="juegos/xbox/Minecraft_Legends.html">
          <img src="../web/img/imagenes/xbox_gamepass/Minecraft_Legends.jpg" alt="Minecraft Legends" width="200px">
          <p>Minecraft Legends</p>
        </a>
      </article>

      <article id="xbox">
        <a href="juegos/xbox/Sea_of_thieves.html">
          <img src="../web/img/imagenes/xbox_gamepass/Sea_of_Thieves.jpg" alt="Sea of Thieves" width="200px">
          <p>Sea of Thieves</p>
        </a>
      </article>

      <article id="xbox">
        <a href="juegos/xbox/Outer_Worlds.html">
          <img src="../web/img/imagenes/xbox_gamepass/The_Outer_Worlds.png" alt="The Outer Worlds" width="200px">
          <p>The Outer Worlds</p>
        </a>
      </article>

      <article id="xbox">
        <a href="juegos/xbox/Grounded.html">
          <img src="../web/img/imagenes/xbox_gamepass/Grounded.jpg" alt="Grounded" width="200px">
          <p>Grounded</p>
        </a>
      </article>
    </div>
  </section>


  <footer>
    <div class="footer-content">
      <a href="../index.php" class="footer-link">INICIO</a>
      <a href="contacto.html" class="footer-link">CONTACTO</a>
      <a href="conocenos.html" class="footer-link">CONÓCENOS</a>
      <a href="term_legales.html" class="footer-link">TERMINOS LEGALES</a>
      <a href="redes.html" class="footer-link">REDES SOCIALES</a>
      <a href="politicas.html" class="footer-link">POLITICAS</a>
    </div>
  </footer>

</body>
</html>
