<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../web/css/css/pstres.css">
  <title>PlayStation 3 | GameNation</title>
</head>
<body>
  <header>
    <a href="../index.php">
      <img src="../logo_sin_fondo.png" alt="logo" width="500px">
    </a>
  </header>

<nav>
    <ul class="menu">
      <li class="menu-item playstation">
        <a href="#ps">Play Station</a>
        <div class="submenu ps">
          <div class="submenu-row">
            <a href="ps5.html">PS5</a>
            <a href="ps4.html">PS4</a>
            <a href="ps3.html">PS3</a>
          </div>
        </div>
      </li>

      <li class="menu-item xbox">
        <a href="#xbox">XBox</a>
        <div class="submenu xbox">
          <div class="submenu-row">
            <a href="xbox.html">Series X/S</a>
            <a href="gamepass.html">Game Pass</a>
          </div>
        </div>
      </li>

      <li class="menu-item nintendo">
        <a href="#nintendo">Nintendo</a>
        <div class="submenu nintendo">
          <div class="submenu-row">
            <a href="switch.html">Switch</a>
            <a href="switch_dos.html">Switch 2</a>
          </div>
        </div>
      </li>

      <li class="menu-item steam">
        <a href="#steam">Steam</a>
        <div class="submenu steam">
          <div class="submenu-row">
            <a href="steam_juegos.html">Juegos</a>
            <a href="steam_ofertas.html">Ofertas</a>
          </div>
        </div>
      </li>
      <li class="menu-item steam">
        <a href="../favoritos.php" class="nav-favorites">
    ⭐ FAVORITS
</a>
        <div class="submenu favorite">
          <div class="submenu-row">
      
        </div>
        </div>
      </li>
    </ul>
  </nav>

  <section class="novedades">
    <h2>PS3 - Clásicos</h2>
    <div class="novedades_juegos">
      <!-- Updated PS3 games with classic titles -->
      <article id="ps">
        <a href="juegos/ps3/the_last_of_us.html">
          <img src="../web/img/imagenes/ps3/the_last_of_us_part_1.jpg" alt="The Last of Us" width="200px">
          <p>The Last of Us</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps3/Uncharted_3.html">
          <img src="../web/img/imagenes/ps3/Uncharted_3.jpg" alt="Uncharted 3" width="200px">
          <p>Uncharted 3</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps3/metal_gear_solid_4.html">
          <img src="../web/img/imagenes/ps3/metal_3.jpg" alt="Gear Solid 4 " width="200px">
          <p>Metal Gear Solid 4</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps3/Grand Theft Auto V.html">
          <img src="../web/img/imagenes/ps3/gta5.jpg" alt="Grand Theft Auto V" width="200px">
          <p>Grand Theft Auto V</p>
        </a>
      </article>
    </div>
  </section>

  <section id="ps">
    <h2>PS3 - Clásicos en Rebajas</h2>
    <div class="novedades_juegos">
      <article id="ps">
        <a href="juegos/ps3/God of War III.html">
          <img src="../web/img/imagenes/ps3/God_of_War_III.jpg" alt="God of War III" width="200px">
          <p>God of War III</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps3/Killzone 3.html">
          <img src="../web/img/imagenes/ps3/Killzone_3.jpg" alt="Killzone 3" width="200px">
          <p>Killzone 3</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps3/Resistance 3.html">
          <img src="../web/img/imagenes/ps3/resistance3.webp" alt="Resistance 3" width="200px">
          <p>Resistance 3</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps3/the_last_of_us.html">
          <img src="../web/img/imagenes/ps3/the_last_of_us_part_1.jpg" alt="The Last of Us" width="200px">
          <p>The Last of Us</p>
        </a>
      </article>
    </div>
  </section>


<div class="juego">
  <a href="juegos/ps3/Call Of Duty - Black Ops 2.html">
    <img src="../web/img/imagenes/ps3/black_ops_2.jpg" alt="bo2">
  </a>
  <div class="texto-juego">
    <h1>Call Of Duty - Black Ops 2</h1>
    <p>Un shooter en primera persona con los habituales ingredientes como una espectacular campaña para un jugador, el adictivo multijugador competitivo y el modo Zombis cooperativo para cuatro jugadores, convirtiéndose de nuevo en un Call of Duty muy exitoso.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/ps3/Resident Evil 5.html">
    <img src="../web/img/imagenes/ps3/resident_evil_5.jpg" alt="re5">
  </a>
  <div class="texto-juego">
    <h1>Resident Evil 5</h1>
    <p>Después del sorprendente giro de la saga hacia la acción con Resident Evil 4 (2005), considerado por muchos como uno de los mejores juegos de la historia, 
      cuatro años después llega una continuación que seguía su estela, de nuevo un shooter en tercera persona, muy frenético y espectacular, con intensos tiroteos, una ambientación terrorífica y esta vez, por primer vez en la saga, con modo cooperativo para dos jugadores.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/ps3/Batman - Arkham City.html">
    <img src="../web/img/imagenes/ps3/batman_arkham_city.jpg" alt="bac">
  </a>
  <div class="texto-juego">
    <h1>Batman - Arkham City</h1>
    <p>Ambientado en el corazón de Gotham, Arkham City es una sección de la ciudad convertida en una megaprisión al aire libre donde los criminales más peligrosos, incluidos enemigos icónicos de Batman, son dejados a su suerte, creando un ambiente de anarquía y caos donde reina la ley del más fuerte. 
      La aventura nos vuelve a poner en la piel de Batman, quien tiene que explorar este lugar e investigar la siniestra trama detrás de la creación de Arkham City, orquestada por el enigmático Dr. Hugo Strange.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/ps3/Assassins Creed Black.html">
    <img src="../web/img/imagenes/ps3/assassin-s-creed-iv-black-flag.jpg" alt="acbf">
  </a>
  <div class="texto-juego">
    <h1>Assassins Creed Black Flag</h1>
    <p>Una aventura de acción en mundo abierto ambientada en el Caribe en el siglo XVIII, durante la edad de oro de la piratería, en una historia protagonizada Edward Kenway, un pirata abuelo de Connor, el protagonista de Assassin's Creed III, quien se ve involucrado en la milenaria lucha entre los Asesinos y los Templarios.</p>
  </div>
</div>




  <footer>
    <div class="footer-content">
      <a href="../index.php" class="footer-link">INICIO</a>
      <a href="contacto.html" class="footer-link">CONTACTO</a>
      <a href="conocenos.html" class="footer-link">CONÓCENOS</a>
      <a href="term_legales.html" class="footer-link">TERMINOS LEGALES</a>
      <a href="redes.html" class="footer-link">REDES SOCIALES</a>
      <a href="politicas.html" class="footer-link">POLITICAS</a>
    </div>
  </footer>
</body>
</html>
