<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../web/css/css/pscuatro.css">
  <title>PlayStation 4 | GameNation</title>
</head>
<body>
  <header>
    <a href="../index.php">
      <img src="../logo_sin_fondo.png" alt="logo" width="500px">
    </a>
  </header>

<nav>
    <ul class="menu">
      <li class="menu-item playstation">
        <a href="#ps">Play Station</a>
        <div class="submenu ps">
          <div class="submenu-row">
            <a href="ps5.html">PS5</a>
            <a href="ps4.html">PS4</a>
            <a href="ps3.html">PS3</a>
          </div>
        </div>
      </li>

      <li class="menu-item xbox">
        <a href="#xbox">XBox</a>
        <div class="submenu xbox">
          <div class="submenu-row">
            <a href="xbox.html">Series X/S</a>
            <a href="gamepass.html">Game Pass</a>
          </div>
        </div>
      </li>

      <li class="menu-item nintendo">
        <a href="#nintendo">Nintendo</a>
        <div class="submenu nintendo">
          <div class="submenu-row">
            <a href="switch.html">Switch</a>
            <a href="switch_dos.html">Switch 2</a>
          </div>
        </div>
      </li>

      <li class="menu-item steam">
        <a href="#steam">Steam</a>
        <div class="submenu steam">
          <div class="submenu-row">
            <a href="steam_juegos.html">Juegos</a>
            <a href="steam_ofertas.html">Ofertas</a>
          </div>
        </div>
      </li>
      <li class="menu-item steam">
        <a href="../favoritos.php" class="nav-favorites">
    ⭐ FAVORITS
</a>
        <div class="submenu favorite">
          <div class="submenu-row">
      
        </div>
        </div>
      </li>
    </ul>
  </nav>

  <section class="novedades">
    <h2>PS4 - Novedades</h2>
    <div class="novedades_juegos">
      <!-- PS4-exclusive and generation titles only -->
      <article id="ps">
        <a href="juegos/ps4/Resident_evil_vii.html">
          <img src="../web/img/imagenes/ps4/Resident_Evil_Village.png" alt="Resident Evil Village" width="200px">
        </a>
          <p>Resident Evil: Village</p>
      </article>

      <article id="ps">
        <a href="juegos/ps4/The Witcher 3.html">
          <img src="../web/img/imagenes/ps4/Witcher_3.jpg" alt="The Witcher 3" width="200px">
        </a>
          <p>The Witcher 3</p>
        </article>

      <article id="ps">
        <a href="juegos/ps4/Death Stranding.html">
          <img src="../web/img/imagenes/ps4/deathstranding.webp" alt="Death Stranding" width="200px">
        </a>
          <p>Death Stranding</p>
      </article>

      <article id="ps">
        <a href="juegos/ps4/Persona 5 Royal.html">
          <img src="../web/img/imagenes/ps4/persona_5_royal.webp" alt="Persona 5 Royal" width="200px">
        </a>
          <p>Persona 5 Royal</p>
      </article>
    </div>
  </section>

  <section id="ps">
    <h2>PS4 - Rebajas</h2>
    <div class="novedades_juegos">
      <!-- PS4 classics, different from PS5 -->
      <article id="ps">
        <a href="juegos/ps4/Horizon Zero Dawn.html">
          <img src="../web/img/imagenes/ps4/horizon_zero_dawn_remastered.webp" alt="Horizon Zero Dawn" width="200px">
        </a>  
          <p>Horizon Zero Dawn</p>
      </article>

      <article id="ps">
        <a href="juegos/ps4/God of War.html">
          <img src="../web/img/imagenes/ps4/godofwar.jpg" alt="God of War" width="200px">
        </a>
        <p>God of War</p>
      </article>

      <article id="ps">
        <a href="juegos/ps4/The Last of Us Part II.html">
          <img src="../web/img/imagenes/ps4/the_last_of_us_part_2.jpg" alt="The Last of Us Part II" width="200px">
        </a>
        <p>The Last of Us Part II</p>
      </article>

      <article id="ps">
        <a href="juegos/ps4/Marvel's Spider-Man.html">
          <img src="../web/img/imagenes/ps4/spiderman.webp" alt="Spiderman" width="200px">
        </a>
        <p>Marvel's Spider-Man</p>
      </article>
    </div>
  </section>



<div class="juego">
  <a href="juegos/ps4/Clair Obscur Expedition 33.html">
    <img src="../web/img/imagenes/ps4/clair-obscur-expedition-33.jpg" alt="coe33">
  </a>
  <div class="texto-juego">
    <h1>Clair Obscur Expedition 33</h1>
    <p>Se trata de un RPG por turnos ambientado en un mundo de fantasía inspirado en la Francia de la Belle Époque, que sigue la desesperada misión de la expedición 33, quienes deben destruir a la Peintresse, una entidad que cada año pinta un número en el Monolito, causando que todas las personas de esa edad se conviertan en humo y desaparezcan.</p>
  </div>
</div>


<div class="juego">
  <a href="juegos/ps4/Red Dead Redemption 2.html">
    <img src="../web/img/imagenes/ps4/red-dead-redemption-2.jpg" alt="rdr2">
  </a>
  <div class="texto-juego">
    <h1>Red Dead Redemption 2</h1>
    <p>Nos lleva al comienzo del fin del Salvaje Oeste, cuando las bandas de forajidos sufren el acoso de la ley y los últimos grandes ladrones comienzan a rendirse, sucumbir al avance de la civilización o resistirse siendo asesinados. El videojuego nos emplazará justo después de un desastroso atraco fallido en la ciudad de Blackwater, 
      tras el que nuestro protagonista Arthur Morgan y la banda de de Van der Linde se verán obligados a huir. Perseguidos por agentes federales, la banda de Van der Linde se encontrará en una constante huida hacia adelante, en la que tendrán que atracar, robar y luchar para sobrevivir en su camino por el escabroso territorio de la América del 1899.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/ps4/Resident Evil 2 Remake.html">
    <img src="../web/img/imagenes/ps4/resident-evil-2-remake.jpg" alt="re2">
  </a>
  <div class="texto-juego">
    <h1>Resident Evil 2 Remake</h1>
    <p>Nos devolverá a Raccoon City, la ciudad norteamericana de la serie de juegos de Capcom, controlada por la corporación Umbrella y en la que se ha producido una brecha de seguridad biológica que ha convertido a todos sus habitantes en zombis y criaturas mutantes. 
      Este remake o reinterpretación nos permitirá encarnar a Leon S. Kennedy y Claire Redfield en dos campañas diferenciadas y distintas, plagadas de guiños y elementos sacados de los videojuegos originales. Sin embargo, se ha potenciado la narrativa, que será mucho más cinematográfica y mejorada que en el videojuego original.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/ps4/Assassins Creed Odyssey.html">
    <img src="../web/img/imagenes/ps4/assassins-creed-odyssey.jpg" alt="acO">
  </a>
  <div class="texto-juego">
    <h1>Assassins Creed Odyssey</h1>
    <p>Assassin's Creed Odyssey nos trasladará a la Antigua Grecia, justo en el siglo V a.C., durante la Guerra del Peleponeso que enfrentó a Esparta con Atenas. En mundo en el que diversas polis y ligas griegas luchan por la supremacía del Egeo, 
      el títulos nos contará la historia de Alexios o Kassandra, los dos personajes principales, y su aventura dentro de un entorno que nos narrará el nacimiento de la civilización occidental tal y como la conocemos. Es importante destacar que estamos cientos de años antes que lo mostrado en Origins, algo que dará carta ancha al argumento para contarnos una historia de fundación muy interesante.</p>
  </div>
</div>



  <footer>
     <div class="footer-content">
      <a href="../index.php" class="footer-link">INICIO</a>
      <a href="contacto.html" class="footer-link">CONTACTO</a>
      <a href="conocenos.html" class="footer-link">CONÓCENOS</a>
      <a href="term_legales.html" class="footer-link">TERMINOS LEGALES</a>
      <a href="redes.html" class="footer-link">REDES SOCIALES</a>
      <a href="politicas.html" class="footer-link">POLITICAS</a>
    </div>
  </footer>

</body>
</html>
