<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../web/css/css/pscinco.css">
  <title>PlayStation 5 | GameNation</title>
</head>
<body>
  <header>
    <a href="../index.php">
      <img src="../logo_sin_fondo.png" alt="logo" width="500px">
    </a>
  </header>

<nav>
    <ul class="menu">
      <li class="menu-item playstation">
        <a href="#ps">Play Station</a>
        <div class="submenu ps">
          <div class="submenu-row">
            <a href="ps5.html">PS5</a>
            <a href="ps4.html">PS4</a>
            <a href="ps3.html">PS3</a>
          </div>
        </div>
      </li>

      <li class="menu-item xbox">
        <a href="#xbox">XBox</a>
        <div class="submenu xbox">
          <div class="submenu-row">
            <a href="xbox.html">Series X/S</a>
            <a href="gamepass.html">Game Pass</a>
          </div>
        </div>
      </li>

      <li class="menu-item nintendo">
        <a href="#nintendo">Nintendo</a>
        <div class="submenu nintendo">
          <div class="submenu-row">
            <a href="switch.html">Switch</a>
            <a href="switch_dos.html">Switch 2</a>
          </div>
        </div>
      </li>

      <li class="menu-item steam">
        <a href="#steam">Steam</a>
        <div class="submenu steam">
          <div class="submenu-row">
            <a href="steam_juegos.html">Juegos</a>
            <a href="steam_ofertas.html">Ofertas</a>
          </div>
        </div>
      </li>
      <li class="menu-item steam">
        <a href="../favoritos.php" class="nav-favorites">
    ⭐ FAVORITS
</a>
        <div class="submenu favorite">
          <div class="submenu-row">
      
        </div>
        </div>
      </li>
    </ul>
  </nav>

  <section class="novedades">
    <h2>PS5 - Novedades</h2>
    <div class="novedades_juegos">
      <!-- PS5 exclusive and next-gen titles -->
      <article id="ps">
        <a href="juegos/ps5/Resident_Evil_Requiem.html">
          <img src="../web/img/imagenes/ps5/resident_evil_requiem.jpg" alt="Resident Evil Requiem" width="200px">
          <p>Resident Evil: Requiem</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps5/silent_hill_f.html">
          <img src="../web/img/imagenes/ps5/silent-hill-f.webp" alt="Silent Hill F" width="200px">
          <p>Silent Hill F</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps5/Ghost_Yotei.html">
          <img src="../web/img/imagenes/ps5/ghost-of-yotei.webp" alt="Ghost Of Yotei" width="200px">
          <p>Ghost Of Yotei</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps5/Final_Fantasy_VII.html">
          <img src="../web/img/imagenes/ps5/finalfantasy.jpg" alt="Final Fantasy VII Rebirth" width="200px">
          <p>Final Fantasy VII Rebirth</p>
        </a>
      </article>
    </div>
  </section>

  <section id="ps">
    <h2>PS5 - Rebajas</h2>
    <div class="novedades_juegos">
      <!-- Different PS5 exclusives, not repeated -->
      <article id="ps">
        <a href="juegos/ps5/Helldrivers_2.html">
          <img src="../web/img/imagenes/ps5/helldivers-2.webp" alt="Helldivers 2" width="200px">
          <p>Helldivers 2</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps5/Dragon_age_2.html">
          <img src="../web/img/imagenes/ps5/dragon_age.jpg" alt="Dragon Age: The Veilguard" width="200px">
          <p>Dragon Age: The Veilguard</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps5/Star_Wars_Outlaws.html">
          <img src="../web/img/imagenes/ps5/starwarsotlaws.jpg" alt="Star Wars Outlaws" width="200px">
          <p>Star Wars Outlaws</p>
        </a>
      </article>

      <article id="ps">
        <a href="juegos/ps5/Elden_Ring_shadows.html">
          <img src="../web/img/imagenes/ps5/eldenring.jpg" alt="Elden Ring: Shadow of the Erdtree" width="200px">
          <p>Elden Ring: Shadow of the Erdtree</p>
        </a>
      </article>
    </div>
  </section>


    <div class="juego">
      <a href="juegos/ps5/ARC_Raiders.html">
        <img src="../web/img/imagenes/ps5/ard_raiders.jpg" alt="arc">
      </a>
        <div class="texto-juego">
          <h1>ARC Raiders</h1>
          <p>ARC Raiders es una aventura multijugador de extracción ambientada en una Tierra futura y letal, devastada por una misteriosa amenaza mecanizada conocida como ARC. Únete como saqueador y explora la superficie para sobrevivir en un mundo desolado. Pero ten cuidado con las máquinas. Ten cuidado con los saqueadores que acechan a otros.</p>
        </div>
    </div>
  </a>

<div class="juego">
  <a href="juegos/ps5/Baldurs_gate_3.html">
    <img src="../web/img/imagenes/ps5/baldurs-gate-3.jpg" alt="bg3">
  </a>
  <div class="texto-juego">
    <h1>Baldurs Gate 3</h1>
    <p>Baldur's Gate 3 busca continuar expandiendo las raíces del género de rol más clásico, presentando una narrativa rica y una libertad sin precedentes para los usuarios basándose en ofrecer las mayores posibilidades a cada jugador de crear su aventura en el universo del videojuego, justo como haría con papel y lápiz.</p>
  </div>
</div>

<div class="juego">
  <a href="juegos/ps5/The_Witcher_3.html">
    <img src="../web/img/imagenes/ps5/the-witcher-3-wild-hunt.jpg" alt="w3">
  </a>
  <div class="texto-juego">
    <h1>The Witcher 3</h1>
    <p>Se trata de un videojuego que mezcla elementos de aventura, acción y rol en un mundo abierto épico basado en la fantasía. El jugador controlará una vez más a Geralt de Rivia, el afamado cazador de monstruos, (también conocido como el Lobo Blanco) y se enfrentará a un diversificadísimo bestiario y a unos peligros de unas dimensiones nunca vistas hasta el momento en la serie, mientras recorre los reinos del Norte.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/ps5/Astro_Bot.html">
    <img src="../web/img/imagenes/ps5/astro-bot.jpg" alt="ab">
  </a>
  <div class="texto-juego">
    <h1>Astro BOT</h1>
    <p>El simpático robot protagoniza una nueva aventura de plataformas, continuación de Astro's Playroom, ahora con un juego mucho más ambicioso formado por más de 80 niveles y con cientos de cameos del universo PlayStation.</p>
  </div>
</div>




  <footer>
    <div class="footer-content">
      <a href="../index.php" class="footer-link">INICIO</a>
      <a href="contacto.html" class="footer-link">CONTACTO</a>
      <a href="conocenos.html" class="footer-link">CONÓCENOS</a>
      <a href="term_legales.html" class="footer-link">TERMINOS LEGALES</a>
      <a href="redes.html" class="footer-link">REDES SOCIALES</a>
      <a href="politicas.html" class="footer-link">POLITICAS</a>
    </div>
  </footer>

</body>
</html>
