<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../web/css/css/steam_juegos.css">
  <title>Steam - Juegos | GameNation</title>
</head>
<body>
  <header>
    <a href="../index.php">
      <img src="../logo_sin_fondo.png" alt="logo" width="500px">
    </a>
  </header>

  <nav>
    <ul class="menu">
      <li class="menu-item playstation">
        <a href="#ps">Play Station</a>
        <div class="submenu ps">
          <div class="submenu-row">
            <a href="ps5.html">PS5</a>
            <a href="ps4.html">PS4</a>
            <a href="ps3.html">PS3</a>
          </div>
        </div>
      </li>

      <li class="menu-item xbox">
        <a href="#xbox">XBox</a>
        <div class="submenu xbox">
          <div class="submenu-row">
            <a href="xbox.html">Series X/S</a>
            <a href="game_pass.html">Game Pass</a>
          </div>
        </div>
      </li>

      <li class="menu-item nintendo">
        <a href="#nintendo">Nintendo</a>
        <div class="submenu nintendo">
          <div class="submenu-row">
            <a href="switch.html">Switch</a>
            <a href="switch_dos.html">Switch 2</a>
          </div>
        </div>
      </li>

      <li class="menu-item steam">
        <a href="#steam">Steam</a>
        <div class="submenu steam">
          <div class="submenu-row">
            <a href="steam_juegos.html">Juegos</a>
            <a href="steam_ofertas.html">Ofertas</a>
          </div>
        </div>
      </li>
      <li class="menu-item steam">
        <a href="../favoritos.php" class="nav-favorites">
    ⭐ FAVORITS
</a>
        <div class="submenu favorite">
          <div class="submenu-row">
      
        </div>
        </div>
      </li>
    </ul>
  </nav>

  <main>
    <!-- Wrapped content in proper main and section tags -->
    <section class="novedades">
      <h2>Steam - Juegos Destacados</h2>
      <div class="novedades_juegos">
        <article>
          <a href="juegos/steam/Hades_2.html">
            <img src="../web/img/imagenes/steam/Hades_2.jpeg" alt="Hades II">
            <p>Hades II</p>
          </a>  
        </article>

        <article>
          <a href="juegos/steam/Silent_Hill_2_remake.html">
            <img src="../web/img/imagenes/steam/Silent_Hill_2_remake.jpg" alt="silent-hill2">
            <p>Silent hill 2</p>
          </a>
        </article>

        <article>
          <a href="juegos/steam/Sekiro.html">
            <img src="../web/img/imagenes/steam/Sekiro.jpg" alt="Sekiro: Shadows Die Twice">
            <p>Sekiro: Shadows Die Twice</p>
          </a>
        </article>

        <article>
          <a href="juegos/steam/Dota 2.html">
            <img src="../web/img/imagenes/steam/Dota_2.jpg" alt="Dota 2">
            <p>Dota 2</p>
          </a>
        </article>

        <article>
          <a href="juegos/steam/Call Of Duty.html">
            <img src="../web/img/imagenes/steam/ModernWarfare.webp" alt="call of duty ">
            <p>Call Of Duty : Modern warfare (2019)</p>
          </a>
        </article>


        <article>
          <a href="juegos/steam/DayZ.html">
            <img src="../web/img/imagenes/steam/Day_Z.jpg" alt="DayZ">
            <p>DayZ</p>
          </a>
        </article>
      </div>
    </section>
  </main>



 <div class="juego">
  <a href="juegos/steam/Absolum.html">
    <img src="../web/img/imagenes/steam/absolum.jpg" alt="abs">
  </a>
  <div class="texto-juego">
    <h1>Absolum</h1>
    <p>Videojuego independiente de acción y aventura desarrollado por el estudio indie DarkMatter Studios,
       con lanzamiento previsto para 2025 en PC y consolas modernas. Este título promete una experiencia atmosférica y narrativa profunda, combinando exploración, combates intensos y elementos sobrenaturales en un entorno oscuro y misterioso.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/steam/Cyberpunk 2077.html">
    <img src="../web/img/imagenes/steam/cyberpunk-2077.jpg" alt="c2077">
  </a>
  <div class="texto-juego">
    <h1>Cyberpunk 2077</h1>
    <p>Se ambienta en Night City, la ciudad más emblemática de Cyberpunk 2020, el juego de rol de papel y lápiz creado por Mike Pondsmith a finales de los ochenta. Se trata de la metrópolis más violenta y peligrosa de un futuro distópico controlado por megacorporaciones. 
      Se trata de una enorme extensión de terreno atiborrada de edificios, bloques y guetos, y que está dividida en seis grandes distritos. Estos seis distritos, de variados ambientes y con una estética particular e intransferible, se tratan de City Center, Watson, Westbrook, Heywood, Pacifica y Santo Domingo.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/steam/Kingdom Come Deliverance 2.html">
    <img src="../web/img/imagenes/steam/kingdom-come-deliverance-ii.jpg" alt="kcd2">
  </a>
  <div class="texto-juego">
    <h1>Kingdom Come Deliverance 2</h1>
    <p>Esperada secuela del aclamado RPG medieval de los checos Warhorse Studios de 2018. La historia continúa directamente desde el final de la primera entrega, llevando nuevamente a los jugadores a la Bohemia de 1403, una región sumida en el conflicto entre el rey Wenceslao IV 
      y su medio hermano Segismundo de Luxemburgo. En esta ocasión, Henry, el hijo de un herrero cuya familia fue asesinada durante la invasión cuman, sigue su camino de venganza y se ve envuelto en una trama de intrigas políticas y guerra que definirán el destino de la región.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/steam/Indiana Jones And The Great Circle.html">
    <img src="../web/img/imagenes/steam/indiana-jones-and-the-great-circle.jpg" alt="ijatgc">
  </a>
  <div class="texto-juego">
    <h1>Indiana Jones And The Great Circle</h1>
    <p>El juego se desarrolla en exóticas localizaciones como el Vaticano,Tailandia, Egipto o el Himalaya, teniendo que luchar contra los nazis, que se intentan hacer con el poder secreto del Gran Círculo, en una historia ambientada en 1937, y que se desarrolla 
      entre entre los acontecimientos de En busca del arca perdida (1981) e Indiana Jones y la última cruzada (1989). Tenemos gran libertad para afrontar las situaciones como queramos, con acción directa o sigilo, y usando el mítico látigo para distraer, desarmar 
      y atacar a los enemigos, aunque también como herramienta para movernos por los escenarios, para balancearnos, escalar o resolver puzles.</p>
  </div>
</div>



  <footer>
    <div class="footer-content">
      <a href="../index.php" class="footer-link">INICIO</a>
      <a href="contacto.html" class="footer-link">CONTACTO</a>
      <a href="conocenos.html" class="footer-link">CONÓCENOS</a>
      <a href="term_legales.html" class="footer-link">TERMINOS LEGALES</a>
      <a href="redes.html" class="footer-link">REDES SOCIALES</a>
      <a href="politicas.html" class="footer-link">POLITICAS</a>
    </div>
  </footer>

</body>
</html>
