<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../web/css/css/switch.css">
  <title>Nintendo Switch | GameNation</title>
</head>
<body>
  <header>
    <a href="../index.php">
      <img src="../logo_sin_fondo.png" alt="logo" width="500px">
    </a>
  </header>

<nav>
    <ul class="menu">
      <li class="menu-item playstation">
        <a href="#ps">Play Station</a>
        <div class="submenu ps">
          <div class="submenu-row">
            <a href="ps5.html">PS5</a>
            <a href="ps4.html">PS4</a>
            <a href="ps3.html">PS3</a>
          </div>
        </div>
      </li>

      <li class="menu-item xbox">
        <a href="#xbox">XBox</a>
        <div class="submenu xbox">
          <div class="submenu-row">
            <a href="xbox.html">Series X/S</a>
            <a href="gamepass.html">Game Pass</a>
          </div>
        </div>
      </li>

      <li class="menu-item nintendo">
        <a href="#nintendo">Nintendo</a>
        <div class="submenu nintendo">
          <div class="submenu-row">
            <a href="switch.html">Switch</a>
            <a href="switch_dos.html">Switch 2</a>
          </div>
        </div>
      </li>

      <li class="menu-item steam">
        <a href="#steam">Steam</a>
        <div class="submenu steam">
          <div class="submenu-row">
            <a href="steam_juegos.html">Juegos</a>
            <a href="steam_ofertas.html">Ofertas</a>
          </div>
        </div>
      </li>
      <li class="menu-item steam">
        <a href="../favoritos.php" class="nav-favorites">
    ⭐ FAVORITS
</a>
        <div class="submenu favorite">
          <div class="submenu-row">
      
        </div>
        </div>
      </li>
    </ul>
  </nav>

  <section class="novedades">
    <h2>Nintendo Switch - Novedades</h2>
    <div class="novedades_juegos">
      <!-- Nintendo Switch exclusive titles only -->
      <article id="nintendo">
        <a href="juegos/switch/mario_kar_deluxe.html">
          <img src="../web/img/imagenes/switch/mario8.jpg" alt="Mario Kart 8" width="200px">
          <p>Mario Kart 8 Deluxe</p>
        </a>
      </article>

      <article id="nintendo">
        <a href="juegos/switch/Super Smash Bros Ultimate.html">
          <img src="../web/img/imagenes/switch/Super_Smash_Bros_Ultimate_29.webp" alt="Super Smash Bros" width="200px">
          <p>Super Smash Bros Ultimate</p>
        </a>
      </article>

      <article id="nintendo">
        <a href="juegos/switch/Animal Crossing.html">
          <img src="../web/img/imagenes/switch/animal.png" alt="Animal Crossing" width="200px">
          <p>Animal Crossing: New Horizons</p>
        </a>
      </article>

      <article id="nintendo">
        <a href="juegos/switch/Splatoon 3.html">
          <img src="../web/img/imagenes/switch/splatoon_3.jpg" alt="Splatoon 3" width="200px">
          <p>Splatoon 3</p>
        </a>
      </article>
    </div>
  </section>

  <section id="nintendo">
    <h2>Nintendo Switch - Rebajas</h2>
    <div class="novedades_juegos">
      <article id="nintendo">
        <a href="juegos/switch/Legend of Zelda.html">
          <img src="../web/img/imagenes/switch/legend_of_zelda.jpg" alt="The Legend of Zelda" width="200px">
          <p>The Legend of Zelda: Tears of the Kingdom</p>
        </a>
      </article>

      <article id="nintendo">
        <a href="juegos/switch/Super Mario Odyssey.html">
          <img src="../web/img/imagenes/switch/Super_Mario_Odyssey.webp" alt="Super Mario Odyssey" width="200px">
          <p>Super Mario Odyssey</p>
        </a>
      </article>

      <article id="nintendo">
        <a href="juegos/switch/Splatoon 3.html">
          <img src="../web/img/imagenes/switch/splatoon_3.jpg" alt="Splatoon 3" width="200px">
          <p>Splatoon 3</p>
        </a>
      </article>

  
    </div>
  </section>


 <div class="juego">
  <a href="juegos/switch/Leyendas Pokemon Z-A.html">
    <img src="../web/img/imagenes/switch/Leyendas-Pokemon-ZA.webp" alt="lpz-a">
  </a>
  <div class="texto-juego">
    <h1>Leyendas Pokemon Z-A</h1>
    <p>RPG en mundo abierto, pero en esta ocasión con una ambientación muy diferente, ya que viajamos al futuro, a Ciudad Luminalia, una localización que ya exploramos en Pokémon X/Y(2013), ubicada en la región de Kalos, e inspirada en la ciudad francesa de París, 
      con su propia imitación de la Torre Eiffel incluida. La aventura transcurre al completo en Ciudad Luminalia, aunque está muy cambiada respecto a como la conocimos por primera vez tras una reurbanización urbana, una enorme urbe en mundo abierto donde tenemos que capturar Pokémon, 
      descubrir una interesante y misteriosa historia y relacionarnos con multitud de personajes, manteniendo y potenciando las virtudes del primer Leyendas Pokémon, una subserie de la saga con mucho potencial que se diferencia notablemente de las entregas tradicionales.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/switch/Trails in the Sky 1st Chapter.html">
    <img src="../web/img/imagenes/switch/trails-in-the-sky-1st-chapter.jpg" alt="tits1">
  </a>
  <div class="texto-juego">
    <h1>Trails in the Sky - 1st Chapter</h1>
    <p>El juego sigue a Estelle Bright y su compañero Joshua, quienes aspiran a convertirse en Bracers, protectores de la paz en el reino de Liberl, en un viaje que les lleva por diversas localidades mientras viven todo tipo de aventuras,
       con diversas tramas secundarias y una construcción del mundo que puso los pilares de una saga muy querida. Su sistema de combate por turnos se basa en el uso de ataques y hechizos llamados Arts, tan accesible como profundo.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/switch/Zelda - Breath Of The Wild.html">
    <img src="../web/img/imagenes/switch/Zelda_breath_of_the_wild.jpg" alt="zbotw">
  </a>
  <div class="texto-juego">
    <h1>Zelda - Breath Of The Wild</h1>
    <p>Se nos presenta a un Link que lleva sumido en un profundo sueño desde hace 100 años y que despierta en un misterioso templo sin saber cómo ni por qué ha acabado ahí. Link deberá hacer caso a una misteriosa voz que le encomienda la misión
       de acabar con el villano Ganon, un ser maligno que aparece desde épocas inmemoriales y que causó lo que se conoce como el cataclismo. En su camino, conocerá a personajes como a la princesa Zelda, la familia real de hyrule y a sus habitantes, mientras descubre cuál fue su pasado.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/switch/Super Mario Galaxy 2.html">
    <img src="../web/img/imagenes/switch/super-mario-galaxy-2.jpg" alt="smg2">
  </a>
  <div class="texto-juego">
    <h1>Super Mario Galaxy 2</h1>
    <p>Versión remasterizada, que hace que se vea mejor que nunca este imprescindible juego de plataformas en 3D, que recibe mejoras visuales como resolución 1080p en Nintendo Switch y 4K cuando se juegue en Switch 2, interfaz actualizada para control moderno, modo Asistencia para facilitar el juego a nuevos jugadores y capítulos adicionales para el libro de Rosalina.</p>
  </div>
</div>
 

  <footer>
    <div class="footer-content">
      <a href="../index.php" class="footer-link">INICIO</a>
      <a href="contacto.html" class="footer-link">CONTACTO</a>
      <a href="conocenos.html" class="footer-link">CONÓCENOS</a>
      <a href="term_legales.html" class="footer-link">TERMINOS LEGALES</a>
      <a href="redes.html" class="footer-link">REDES SOCIALES</a>
      <a href="politicas.html" class="footer-link">POLITICAS</a>
    </div>
  </footer>

</body>
</html>
