<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../web/css/css/switch_dos.css">
  <title>Nintendo Switch 2 | GameNation</title>
</head>
<body>
  <header>
    <a href="../index.php">
      <img src="../logo_sin_fondo.png" alt="logo" width="500px">
    </a>
  </header>

<nav>
    <ul class="menu">
      <li class="menu-item playstation">
        <a href="#ps">Play Station</a>
        <div class="submenu ps">
          <div class="submenu-row">
            <a href="ps5.html">PS5</a>
            <a href="ps4.html">PS4</a>
            <a href="ps3.html">PS3</a>
          </div>
        </div>
      </li>

      <li class="menu-item xbox">
        <a href="#xbox">XBox</a>
        <div class="submenu xbox">
          <div class="submenu-row">
            <a href="xbox.html">Series X/S</a>
            <a href="gamepass.html">Game Pass</a>
          </div>
        </div>
      </li>

      <li class="menu-item nintendo">
        <a href="#nintendo">Nintendo</a>
        <div class="submenu nintendo">
          <div class="submenu-row">
            <a href="switch.html">Switch</a>
            <a href="switch_dos.html">Switch 2</a>
          </div>
        </div>
      </li>

      <li class="menu-item steam">
        <a href="#steam">Steam</a>
        <div class="submenu steam">
          <div class="submenu-row">
            <a href="steam_juegos.html">Ofertas</a>
            <a href="steam_ofertas.html">Biblioteca</a>
          </div>
        </div>
      </li>
      <li class="menu-item steam">
        <a href="../favoritos.php" class="nav-favorites">
    ⭐ FAVORITS
</a>
        <div class="submenu favorite">
          <div class="submenu-row">
      
        </div>
        </div>
      </li>
    </ul>
  </nav>

  <section class="novedades">
    <h2>Nintendo Switch 2 - Próximos Lanzamientos</h2>
    <div class="novedades_juegos">
      <!-- Switch 2 next-gen exclusive titles -->
      <article id="nintendo">
        <a href="juegos/switch2/Mario Kart World.html">
          <img src="../web/img/imagenes/switch_dos/mario-kart-world.webp" alt="Mario Kart World" width="200px">
          <p>Mario Kart World</p>
        </a>
      </article>

      <article id="nintendo">
        <a href="juegos/switch2/Legend of Zelda Tears of the Kingdom.html">
          <img src="../web/img/imagenes/switch_dos/tears.jpg" alt="Zelda: New Age" width="200px">
          <p>The Legend of Zelda: Tears of the Kingdom</p>
        </a>
      </article>

      <article id="nintendo">
        <a href="juegos/switch2/Metroid Prime 4.html">
          <img src="../web/img/imagenes/switch_dos/Metroid-Prime-4-Beyond.webp" alt="Metroid Prime 4" width="200px">
          <p>Metroid Prime 4</p>
        </a>
      </article>

      <article id="nintendo">
        <a href="juegos/switch2/Splatoon 4.html">
          <img src="../web/img/imagenes/switch_dos/splatoon4.jpg" alt="Splatoon 4" width="200px">
          <p>Splatoon 4</p>
        </a>
      </article>
    </div>
  </section>

  <section id="nintendo">
    <h2>Switch 2 - Títulos Exclusivos Mejorados</h2>
    <div class="novedades_juegos">
      <!-- Enhanced ports and exclusive titles for Switch 2 -->
      <article id="nintendo">
        <a href="juegos/switch2/Nintendo Switch Sports 2.html">
          <img src="../web/img/imagenes/switch_dos/sports.jpg" alt="Nintendo Switch Sports" width="200px">
          <p>Nintendo Switch Sports 2</p>
        </a>
      </article>

      <article id="nintendo">
        <a href="juegos/switch2/Super Mario Wonder 2.html">
          <img src="../web/img/imagenes/switch_dos/wonder.webp" alt="Super Mario Wonder 2" width="200px">
          <p>Super Mario Wonder 2</p>
        </a>
      </article>

      <article id="nintendo">
        <a href="juegos/switch2/Fire Emblem Shadows of Tomorrow.html">
          <img src="../web/img/imagenes/switch_dos/dire_emblem.jpg" alt="Fire Emblem" width="200px">
          <p>Fire Emblem: Shadows of Tomorrow</p>
        </a>
      </article>

      <article id="nintendo">
        <a href="juegos/switch2/Pokémon Legends Arceus 2.html">
          <img src="../web/img/imagenes/switch_dos/pokemon-legends-arceus.webp" alt="Pokémon" width="200px">
          <p>Pokémon Legends: Arceus 2</p>
        </a>
      </article>
    </div>
  </section>


   <div class="juego">
    <a href="juegos/switch2/Donkey Kong.html">
     <img src="../web/img/imagenes/switch_dos/donkey_kong.avif" alt="dkb">
    </a>
  <div class="texto-juego">
    <h1>Donkey Kong Bananza</h1>
    <p>aventura de acción en 3D desarrollada por Nintendo en exclusiva para Switch 2, que marca el regreso del mítico simio a las plataformas tridimensionales con una propuesta sorprendentemente destructiva, dinámica y libre. Lejos de ser una simple evolución de los juegos anteriores, esta entrega reinventa la fórmula
       con una jugabilidad centrada en el poder bruto de Donkey Kong, quien puede destrozar prácticamente cualquier elemento de los escenarios a puñetazo limpio, escalar muros o excavar hasta el fondo de la tierra, todo dentro de niveles que combinan acción, exploración y elementos de mundo abierto.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/switch2/Mario Kart World.html">
    <img src="../web/img/imagenes/switch_dos/mario-kart-world.webp" alt="mkw">
  </a>
  <div class="texto-juego">
    <h1>​Mario Kart World</h1>
    <p>Nueva entrega de la emblemática serie de carreras de karts de Nintendo, que introduce cambios muy importantes en una de la sagas más queridas y exitosas de la compañía nipona.​ Una de las innovaciones más destacadas es la inclusión de un mundo abierto, donde los jugadores pueden explorar con libertad diversas regiones y los distintos circuitos del juego, descubriendo todo tipo de desafíos y secretos y pudiéndose hacer fotografías junto a sus amigos y familiares.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/switch2/Hollow Knight - Silksong.html">
    <img src="../web/img/imagenes/switch_dos/hollow_2.jpg" alt="hns">
  </a>
  <div class="texto-juego">
    <h1>Hollow Knight - Silksong</h1>
    <p>Metroidvania que combina plataformas, combate exigentes y exploración un enorme e intrincado mundo interconectado. Hornet, la protagonista, utiliza su aguja como arma principal y puede equipar herramientas adicionales que amplían su repertorio ofensivo o defensivo. El sistema de curación se apoya en la seda, que también sirve para realizar habilidades de movilidad avanzadas y técnicas especiales en combate.</p>
  </div>
</div>

 <div class="juego">
  <a href="juegos/switch2/Hades_2.html">
    <img src="../web/img/imagenes/steam/Hades_2.jpeg" alt="h2">
  </a>
  <div class="texto-juego">
    <h1>Hades 2</h1>
    <p>Encarnarás a la Princesa inmortal del Inframundo, y explorarás un mundo más extenso y elaborado. Tendrás que derrotar a las huestes del Titán del Tiempo con la ayuda del Olimpo, en una historia desgarradora que se irá desgranando poco a poco con cada uno de tus logros o reveses.</p>
  </div>
</div>


  <footer>
    <div class="footer-content">
      <a href="../index.php" class="footer-link">INICIO</a>
      <a href="contacto.html" class="footer-link">CONTACTO</a>
      <a href="conocenos.html" class="footer-link">CONÓCENOS</a>
      <a href="term_legales.html" class="footer-link">TERMINOS LEGALES</a>
      <a href="redes.html" class="footer-link">REDES SOCIALES</a>
      <a href="politicas.html" class="footer-link">POLITICAS</a>
    </div>
  </footer>

</body>
</html>
