<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="../web/css/css/term_legales.css">
  <title>Terminos Legales | GameNation</title>
</head>
<body>
  <header>
    <a href="index.html">
      <img src="../logo_sin_fondo.png" alt="logo" width="500px">
    </a>
  </header>
<nav>
    <ul class="menu">
      <li class="menu-item playstation">
        <a href="#ps">Play Station</a>
        <div class="submenu ps">
          <div class="submenu-row">
            <a href="ps5.html">PS5</a>
            <a href="ps4.html">PS4</a>
            <a href="ps3.html">PS3</a>
          </div>
        </div>
      </li>

      <li class="menu-item xbox">
        <a href="#xbox">XBox</a>
        <div class="submenu xbox">
          <div class="submenu-row">
            <a href="xbox.html">Series X/S</a>
            <a href="gamepass.html">Game Pass</a>
          </div>
        </div>
      </li>

      <li class="menu-item nintendo">
        <a href="#nintendo">Nintendo</a>
        <div class="submenu nintendo">
          <div class="submenu-row">
            <a href="switch.html">Switch</a>
            <a href="switch_dos.html">Switch 2</a>
          </div>
        </div>
      </li>

      <li class="menu-item steam">
        <a href="#steam">Steam</a>
        <div class="submenu steam">
          <div class="submenu-row">
            <a href="steam_juegos.html">Juegos</a>
            <a href="steam_ofertas.html">Ofertas</a>
          </div>
        </div>
      </li>
      <li class="menu-item steam">
        <a href="../favoritos.php" class="nav-favorites">
    ⭐ FAVORITS
</a>
        <div class="submenu favorite">
          <div class="submenu-row">
      
        </div>
        </div>
      </li>
    </ul>
  </nav>

    <main>
      <div class="container">
        <div class="user">
          <h2>Términos y Condiciones de Uso</h2>
          
          <p>Última actualización: 05 - 12 - 2025 <br>
            Los presentes Términos y Condiciones regulan el acceso y uso del sitio web GameNation, dedicado a la publicación de reseñas y opiniones sobre videojuegos. 
            Al acceder a GameNation, el usuario acepta estas condiciones en su totalidad. En caso de no estar de acuerdo, deberá abstenerse de utilizar el servicio.</p><br>

          <h2>1. Objeto de GameNation</h2>

          <p>GameNation permite a los usuarios compartir opiniones, valoraciones e información sobre videojuegos. El servicio se ofrece con fines informativos y de entretenimiento.</p><br>

          <h2>2. Objeto de GameNation</h2>
          <p>• Puede requerirse registro para acceder a ciertas funciones.<br>
              • El usuario será responsable de la confidencialidad de su cuenta.<br>
              • No somos responsables del uso indebido de cuentas por terceros.</p><br>

          <h2>3. Responsabilidad del Usuario</h2>
          <p>El usuario se compromete a no publicar contenido ofensivo, ilegal, difamatorio o que infrinja derechos de autor.
          Podemos eliminar contenido o cuentas que no cumplan estas normas.</p><br>

          <h2>4. Naturaleza de la Plataforma</h2> 
          <p>GameNation actúa únicamente como intermediario para la difusión de opiniones y contenido generado por los usuarios. No participamos en el desarrollo, distribución ni comercialización de videojuegos, y no garantizamos la veracidad o exactitud de la información publicada por terceros.</p><br> 
          
          <h2>5. Propiedad Intelectual</h2> 
          <p> • Todo el contenido propio del sitio (marca, diseño, logotipos, interfaz, etc.) es propiedad de GameNation o de sus licenciantes.<br> 
            • El contenido publicado por los usuarios seguirá siendo de su propiedad, pero estos otorgan a GameNation una licencia no exclusiva, mundial, gratuita y transferible para su reproducción, modificación y difusión dentro de la plataforma.<br> 
            • Queda prohibido reproducir o utilizar el contenido de GameNation sin autorización previa por escrito. </p><br> 
            
            <h2>6. Moderación de Contenido</h2> 
            <p> GameNation se reserva el derecho de revisar, modificar, ocultar o eliminar cualquier contenido que incumpla estos Términos y Condiciones, así como suspender o eliminar cuentas que infrinjan reiteradamente las normas o la ley. </p><br> 
            
            <h2>7. Enlaces a Terceros</h2> 
            <p> La plataforma puede incluir enlaces hacia sitios web o servicios externos. GameNation no tiene control sobre dichos recursos y no asume responsabilidad por sus contenidos, políticas o prácticas de seguridad. </p><br> 
            
            <h2>8. Limitación de Responsabilidad</h2> 
            <p> GameNation no garantiza la disponibilidad continua del servicio ni la ausencia de errores técnicos. La plataforma no será responsable de:<br> 
              • Daños ocasionados por la interrupción del servicio.<br> 
              • Pérdida de datos o uso indebido del contenido publicado por terceros.<br> 
              • Opiniones, comentarios o información proporcionada por los usuarios.<br> </p><br> 
              
              <h2>9. Protección de Datos Personales</h2> 
              <p> El tratamiento de los datos personales se realizará de conformidad con la legislación vigente en materia de protección de datos. Para más información, el usuario puede consultar la Política de Privacidad disponible en la plataforma. </p><br> 
              
              <h2>10. Menores de Edad</h2> 
              <p> El uso de GameNation está dirigido a personas mayores de 16 años. Quienes no cumplan esta edad deberán contar con autorización de sus padres o tutores legales para utilizar la plataforma. </p><br> 
              
              <h2>11. Actualización de los Términos</h2> 
              <p> GameNation podrá modificar los presentes Términos y Condiciones en cualquier momento. Las actualizaciones serán publicadas en el sitio web y su uso posterior implicará la aceptación de los nuevos términos. </p><br> 
              
              <h2>12. Legislación Aplicable y Jurisdicción</h2> 
              <p> Los presentes Términos se regirán e interpretarán conforme a la legislación vigente en el país en el que GameNation opere. Cualquier disputa relacionada con el servicio será sometida a los tribunales competentes de dicha jurisdicción. </p><br>

        </div>
      </div>
    </main>

  <footer>
    <div class="footer-content">
      <a href="index.html" class="footer-link">INICIO</a>
      <a href="contacto.html" class="footer-link">CONTACTO</a>
      <a href="conocenos.html" class="footer-link">CONÓCENOS</a>
      <a href="term_legales.html" class="footer-link">TERMINOS LEGALES</a>
      <a href="redes.html" class="footer-link">REDES SOCIALES</a>
      <a href="politicas.html" class="footer-link">POLITICAS</a>
    </div>
  </footer>

</body>
</html>